<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Local package source -->
    <!-- Official NuGet.org source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Local" value="D:\LocalNuGet" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- Map your packages to local source -->
    <packageSource key="Local">
      <package pattern="MermaidGen.Net*" />
      <package pattern="LabeledPropertyGraph.Net*" />
      <package pattern="EdmGraph*" />
    </packageSource>
    <!-- Map everything else to nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
